body{
    text-align: center;
    margin: 0;
    font-family: sans-serif;
}

.head {
    text-align: center;
    color: rgb(247, 79, 18);
}
.form-group {
    margin-top: auto;
    display: flexbox;
    text-align: auto;
    box-sizing: auto;
  }

  .details{
      margin-top: 50;
  }
  .form-b {
      margin-bottom: 10;
  }